<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center border  w-25 p-5 h-75 mt-5">
        <h1>login</h1>
        <form action="submit" method="post">
            <div class="form-group">
                <input class="form-control mt-5" type="text" name="username" placeholder="username"><br>
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>

</body>
</html>
